#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div.business-card {
  background-color: #f9f9f9;
  color: #1a1a1a;
  padding: 15px;
  margin: 10px;
}

div.business-open-hours {
  margin-top: 20px;
}

p.business-name {
  margin: 0;
  padding: 0;
  font-size: 1.75em;
}

p.business-address {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

p.business-open-hour-days {
  margin: 5px 0 5px;
  padding: 0;
}